/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

p{
	margin: 30px 0;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	line-height: 1.25;
	margin: 30px 0;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 36px;
	color: #3e606b;
}

h3 {
	color: #3e606b;
}

img {
	width: 100%;
}

.logo{
	width: 170px;
}

.header,
.footer {
	padding: 30px 0;
}

.header .section_inner {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.section_inner {
	max-width: 1100px;
	margin: auto;
}

.high{
	padding: 80px 0;
}

.low {
	padding: 30px 0;
}

.flex_col {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

ul.navigation {
	display: flex;
}

.navigation li {
	list-style-type: none;
	flex-shrink: 0;
	margin-left: 5px;
}

.navigation a{
	text-decoration: none;
	color: #242424;
	padding: 10px 15px;
	border-radius: 20px;
}

.navigation a:hover {
	background-color: #d2567d;
	color: white;
	border-radius: 20px;
}

.hero {
	background-image: url(images/cupcake.jpg);
	color: white;
	background-size:cover;
	background-repeat: no-repeat;
}

.hero .section_inner {
	padding-right: 40%;
}
.hero p {
	font-size: 24px;
	font-style: italic;
}
.rigth{
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
}

.left {
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
}

.button {
	color: white;
	background-color: #f195b2;
	padding: 15px 40px;
	border-radius: 30px;
	margin: 30px 0;
}

.button:hover {
	background-color: #d2567d;
}

section.offer {
	background-color: #f0f0f0;
}

.product_cards {
	flex-basis: 25%;
	flex-grow: 0;
	background-color: white;
	border-radius: 5px;
}

img.product {
	border-radius: 5px 5px 0 0;
}

.description {
	padding: 0px;
	border-radius: 0 0 5px 5px;
}

.description p,
.description h3 {
	margin: 20px;
}

img.border_radius {
	border-radius: 5px;
}


.footer
{
	background-color: #303339;
	color: white;
	text-align: center;
}